.pricing {
    width: 100%;
    padding: 6rem 1rem;
    background-color: #0000;

}

.card-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.card {
    border: 1px solid #eee;
    color: #eee;
    text-align: center;
    padding: 1rem;    
}

.card:hover {
    background-color: #141414 ;
}

.card h3 {
    font-size: 1.4rem;
    padding: 1em;
}

.card p {
    padding: 10px 0;
}

.bar {
    border-bottom: 1px solid #eeee;
    width: 10%;
    margin: 1rem auto;
    display: block;
}

.btc {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 0;
}

.buy-btn {
    display: block;
    width: 80%;
    margin: 2rem auto;
}

.buy-btn {
    padding: 10px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid rgb(248, 217, 15);
    font-weight: 600;
    cursor: pointer;
    transition: .15s ease-in-out;
  }
  
  .buy-btn:hover{
    background: transparent;
    color: #fff;
    transform: scale(1.05);
    border: 1px solid #fff;
  }
  
  .buy-btn:active{
    background: rgb(248, 217, 15);
    color: #222;
    transform: scale(1);
    border: 1px solid transparent;
    
  }
@media screen and (max-width: 740px) {
    .card-container{
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;

    }
    
}